USER_NAME=mv-mnl
ACCESS_TOKEN=tu_token_de_github_aqui

# Datos de la plantilla
NAME_HEADER=manuel@mv-mnl
OS=Arch Linux (Hyprland)
HOST=Custom Build
KERNEL=Linux
IDE=Neovim, VSCode
LANG_PROG=Python, Bash, JS, C++
LANG_COMP=HTML, CSS, JSON
LANG_REAL=Spanish, English
HOBBY_SW=Tiling WMs, Dotfiles, Scripting
HOBBY_HW=PC Building
HOBBY_OTH=Music, Gaming
EMAIL_PERS=mmelende.com
EMAIL_WORK=manuel.work@example.com
INSTA=mv.mnl
DISCORD=mv-mnl
